$font-family: "Barlow Semi Condensed", sans-serif;
$font-size-small: 0.9rem;
$font-size-sm-md: 1rem;
$font-size-medium: 1.1rem;
$font-size-large: 1.3rem;

$violet: hsl(263, 55%, 52%);
$grayish-blue: hsl(217, 19%, 35%);
$blackish-blue: hsl(219, 29%, 14%);
$blackish-blue-50: hsla(219, 29%, 14%, 0.5);
$blackish-blue-70: hsla(219, 29%, 14%, 0.7);

$light-gray: hsl(0, 0%, 81%);
$light-grayish-blue: hsl(210, 46%, 95%);

$white: hsl(0, 0%, 100%);
$white-50: hsla(0, 0%, 100%, 0.5);
$white-70: hsla(0, 0%, 100%, 0.7);
